<article class="post">
  <div class="title">
    <a class="post-int-link" href="/post/{{id}}">{{title}}</a>
   <a href="{{post_url}}" target="_blank"><span class= "post-ext-link">({{format_url post_url}})</span></a>
  </div>
  <div class="meta">
    {{vote_count}} {{format_plural "like" vote_count}} for {{user.username}}'s resource 
    |
    {{!-- Posted on {{created_at}} --}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>


